#FO3 {
  display: none;
}
#AD {
  font-size: 0;
}
#AD img {
  width: 100%;
}
#F1,
#G1 {
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ7Yaoak3QiVaohvYWvFaHJsAYXov5ooFSUwu55eCQGq4Iu2cItgg")
}
#F2,
#G2 {
  background-image: url("http://popoffices.com/design/app/005/1598/index2.jpg");
}
#F3,
#G3 {
  background-image: url("廚房.jpg");
}
#F4 {
  background-image: url("http://popoffices.com/design/app/005/1596/index2.jpg");
}
#F5 {
  background-image: url("http://popoffices.com/design/app/005/1595/index2.jpg");
}
#M1 {
  background-image: url("http://popoffices.com/design/app/003/1307/popoffices-Enterprise-Rent-A-Cars-EMEAHq-02.jpg");
}
#M2 {
  background-image: url("http://popoffices.com/design/app/004/1410/popoffices-Detroit-Labs-Kraemer-01.jpg");
}
#M3 {
  background-image: url("http://popoffices.com/design/app/004/1479/Popoffices-Russia-ALFA-BANK-IND-07-195.jpg");
}
#E1 {
  background-image: url("http://popoffices.com/furniture/pin/fur001/01-Bene%20Office%20Furniture%20AL_Group_Management_03.jpg");
}
#E2 {
  background-image: url("http://popoffices.com/furniture/pin/fur001/11-popoffices-ahrend-114_Agion.jpg");
}
#E3 {
  background-image: url("http://popoffices.com/furniture/app/14002/popoffices-pages-6474-01.jpg");
}
#B1 {
  background-image: url("http://popoffices.com/material/pin/mat001/008-Skype.jpg");
}
#B2 {
  background-image: url("http://popoffices.com/material/pin/mat001/buzzispace-newcatalogu.jpg");
}
#B3 {
  background-image: url("http://popoffices.com/material/pin/mat001/3form.jpg");
}
#D1 {
  background-image: url("http://popoffices.com/supply/pin/pin01/009%E7%AE%80%E7%BA%A6%E9%BA%8B%E9%B9%BF%E5%A2%99%E9%A5%B0.jpg");
}
#D2 {
  background-image: url("http://popoffices.com/supply/pin/pin01/010%E7%AE%80%E7%BA%A6%E7%AD%91%E5%B7%A2%E6%9C%A8%E8%B4%A8%E6%8C%82%E9%92%9F.jpg");
}
#D3 {
  background-image: url("http://popoffices.com/supply/pin/pin01/023%E5%8F%A0%E5%8F%A0%E4%B9%90%E5%9E%83%E5%9C%BE%E5%88%86%E7%B1%BB%E6%A1%B6.jpg");
}
#R1 {
  background-image: url("http://popoffices.com/rent/prj/rent/2014-SOHOFuxing/index-1.jpg");
}
#R2 {
  background-image: url("http://popoffices.com/rent/prj/rent/2013020/0off13020.jpg");
}
#R3 {
  background-image: url("http://popoffices.com/rent/prj/rent/2013003/off13003.jpg");
}
#mu:checked~*:not(aside) {
  -webkit-transform: translate(400px, 700px);
          transform: translate(400px, 700px);
}
#mu:checked~aside ul li {
  display: block;
}
#mu:checked~section label:first-child:after {
  content: "x";
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: 0;
  background: #fafafa;
}
a {
  cursor: pointer;
}
input {
  display: none;
}
aside {
  background: #424242;
  text-align: center;
  color: #fafafa;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  width: 220px;
}
aside ul li {
  list-style-type: none;
  padding: 1rem 0;
  display: none;
}
section {
  background: #424242;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
section figure {
 
  width: 500%;
  position: absolute;
  font-size: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
section figure div {
  position: relative;
  color: #fafafa;
  padding: 5% ,0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  margin: auto 0;
}
section figure div p {
  position: absolute;
  background: RGBa(66, 66, 66, 0.4);
  padding: 0.3rem 0;
  z-index: 2;
  bottom: 10%;
  left: 0;
  right: 0;
  font-size: 1rem;
  color: #fafafa;
}
section label {
  z-index: 1;
  padding: 0.2rem 1rem;
  color: #fafafa;
  position: absolute;
  top: 1rem;
  font-size: 1rem;
  display: block;
}
section label:nth-of-type(1) {
  right: 1rem;
  border: 0.1rem solid #fafafa;
  border-radius: 0.3rem;
}
section label:nth-of-type(1):after {
  content: "=";
}
section label:nth-of-type(2) {
  font-size: 0;
  left: 1rem;
}
section label:nth-of-type(2) img {
  height: 1rem;
}
section label:nth-of-type(1):hover {
  background: #fafafa;
  color: #1e1d1e;
}
article {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 1rem;
}
article figure {
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
}
article figure * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
article p,
article a {
  display: inline-block;
  color: #424242;
  margin: 2rem;
}
article p {
  float: left;
}
article a {
  float: right;
}
article>figure>div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
article>figure>div *:first-child {
  height: 5vh;
}
article>figure>div * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1
          flex-shrink: 1;
  width: 50%;
  margin: 0.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
article>figure>div #T1,
article>figure>div #T2,
article>figure>div #T3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
article>figure>div #T1 p,
article>figure>div #T2 p,
article>figure>div #T3 p {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  color: #424242;
  text-align: center;
  width: 100%;
}
article>figure>div #T1 a,
article>figure>div #T2 a,
article>figure>div #T3 a {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  border-radius: 500rem;
}
article:nth-of-type(odd) {
  background: #fafafa;
}
article:nth-of-type(odd) figure div div a {
  color: #1c1b1b;
  border: 0.1rem solid #1c1b1b;
}
article:nth-of-type(even) {
  background: #eee;
}
article:nth-of-type(even) figure div div a {
  color: #fafafa;
  background: #424242;
  border: 0.2rem solid #424242;
}
main {
  width: 100%;
  color: #424242;
  text-align: center;
  background: #e0e0e0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main img {
  margin: 0 auto;
  width: 80%;
  max-width: 10px;
}
main strong {
  padding: 1rem;
  background: #616161;
  overflow: hidden;
  text-shadow: 0px 0px #545454, 1px 1px #545454, 2px 2px #545454, 3px 3px #545454, 4px 4px #545454, 5px 5px #545454, 6px 6px #545454, 7px 7px #545454, 8px 8px #545454, 9px 9px #545454, 10px 10px #545454, 11px 11px #545454, 12px 12px #545454, 13px 13px #545454, 14px 14px #545454, 15px 15px #545454, 16px 16px #545454, 17px 17px #545454, 18px 18px #545454, 19px 19px #545454, 20px 20px #545454, 21px 21px #545454, 22px 22px #545454, 23px 23px #545454, 24px 24px #545454, 25px 25px #545454, 26px 26px #545454, 27px 27px #545454, 28px 28px #545454, 29px 29px #545454, 30px 30px #545454;
}
main strong h1 {
  color: #fafafa;
}
main strong span {
  color: #e91e63;
}
main div {
  height: auto;
  text-align: center;
  margin: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main div a {
  padding: 0.4rem 0;
  width: 100%;
  margin: 0.4rem;
  border-radius: 0.5rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
main div a:nth-of-type(1) {
  color: #e91e63;
  border: 0.1rem solid #e91e63;
}
main div a:nth-of-type(2) {
  color: #fafafa;
  border: 0.1rem solid #424242;
  background: #424242;
}
main>* {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  display: block;
  margin: 0.5rem 0;
}
footer {
  padding: 1rem;
  background: #424242;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: #fafafa;
}
footer div {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
footer div p {
  color: #fafafa;
}
@media screen and (min-width: 720px) {
  body {
    font-size: 16px;
    margin: 0 auto;
    width: 90%;
  }
  aside {
    background: #e91e63;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3rem;
    z-index: 1;
    margin-bottom: 1rem;
  }
  aside ul li {
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
    line-height: 1rem;
  }
  aside ul li:first-child {
    float: left;
  }
  aside ul li:not(:first-child) {
    float: right;
  }
  section {
    padding: 0;
  }
  section label {
    display: none;
  }
  section figure div {
    padding: 3.33% 0;
  }
  article>figure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  article>figure>div {
    height: 30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article>figure>div * {
    width: auto;
  }
  article>figure>div * * {
    height: 3rem;
  }
  article>figure>div div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  main div {
    width: 40%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
article>figure>div *:first-child {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
article>figure>div *:last-child {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
#FO1 #FO3 {
  display: block;
}

@-webkit-keyframes F {
  0%, to {
    left: 0%;
  }
  12.5%, 87.5% {
    left: -100%;
  }
  25%, 75% {
    left: -200%;
  }
  37.5%, 62.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
}
@keyframes F {
  0%, to {
    left: 0%;
  }
  12.5%, 87.5% {
    left: -100%;
  }
  25%, 75% {
    left: -200%;
  }
  37.5%, 62.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
}