{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iHouse</title>
	<meta charset="UTF-8">

    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/fb.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="canonical" href="http://codepen.io/SitePoint/pen/mywEMR">
	<link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  
	<!--[if IE 7]>
		<link rel="stylesheet" href="css/ie7.css" type="text/css">
	<![endif]-->

</head>
<body>
    <script>
  var FacebookAppId = '1794456094139329';
  window.fbAsyncInit = function() {
    FB.init({
      appId      : FacebookAppId,
      xfbml      : true,
      version    : 'v2.8'
    });
    window.fbloaded();
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="header">
		<div>
			<a href="{% url 'index'%}" id="logo"><img src="{% static 'images/homelogo1.png' %}" alt="logo"></a>
			<ul>
          <li>
			 <a href="{% url 'upload' %}">  <button type="button" class="btn btn-primary" style="width:90px; color:white; margin:-50px 20px;"><b>發布貼文</b></button></a>
				  </li>
				<li>
					<a href="about.html">居家空間</a>
										<ul>
						<li>
							<a href="{% url 'space' "liv" %}">客廳</a>
						</li>
						<li>
							<a href="{% url 'space' "bath" %}">浴室</a>
						</li>
						<li>
							<a href="{% url 'space' "kit" %}">廚房</a>
						</li>
						<li>
							<a href="{% url 'space' "book" %}">書房</a>
						</li>
						<li>
							<a href="{% url 'space' "bed" %}">臥室</a>
						</li>
						<li>
							<a href="{% url 'space' "dinner" %}">餐廳</a>
						</li>
						<li>
							<a href="{% url 'space' "bal" %}">陽台</a>
						</li>
						<li>
							<a href="{% url 'space' "store" %}">储藏室</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="collections.html">家具</a>
					<ul>
						<li>
							<a href="collections.html">椅子</a>
						</li>
						<li>
							<a href="collections.html">櫃子</a>
						</li>
						<li>
							<a href="collections.html">桌子</a>
						</li>
						<li>
							<a href="collections.html">沙發</a>
						</li>
						<li>
							<a href="collections.html">檯燈</a>
						</li>
						<li>
							<a href="collections.html">DIY 家具</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{% url 'profile'%}">個人空間</a>
				</li>

				<li>
				{% if user.is_authenticated %}
				<img id="picture" src="">
				   <button id="fb-login"onclick="document.getElementById('id01').style.display='block'" style="width:auto;">{{ user.username }}</button>
        {% else %}
        <img id="picture" src="">
				   <button id="fb-login"onclick="document.getElementById('id01').style.display='block'" style="width:auto;">登入</button>
				{%endif%} 
        <li><a href="javascript: return false;" onclick="window.location.href='/logout/' ">登出</a></li>

				</li>
			
			</ul>
			
		</div>
	</div>	
<div id="id01" class="modal">
  
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      
    </div>
          <h4 class="modal-title text-center">Login</h4>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-6 formbor">
                <div class="col-md-offset-1">
                  {% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form class="form" method="post" action="{% url 'django.contrib.auth.views.login' %}" >{% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit"  value="Login" id="login-button">Login</button>
        <button type="button" onclick="window.location.href='/register/' ">Register</button>
        
    </form>

{% endblock %}
                  </div>
              </div>
              <div class="col-md-6 text-center">
                <h3>Social network</h3>
                <div class="row">
                <div class="btn btn-lg fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
              </div>
                
            </div>
        </div>
            
			  </div>
			  </div>
  </div>
</div>
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            
            <div class="col-md-8">
                <img  width : "600px" height :"600px" class="img-responsive" src='{{ img_ifo.img.url }}' />
            </div>
            <div class="col-md-4">
                <h1>{{img_ifo.tit}}</h>
                <h3>{{img_ifo.des}}</h>
                <ul>
                    
                </ul>
            </div>
        </div>
        <br>
        <button id="share-button2" style="background-color:#397BC6; width:10%; height:5%"img src="{% static 'images/share.png' %}">share</button>
<h1>留言</h1><br>
  
  <!-- From -->
 
  <div class="comment-form">
    <!-- Comment Avatar -->
    <div class="comment-avatar">
      <img src="http://lorempixel.com/200/200/people">
    </div>
    
    <form id="add_story_form" class="form" action="{url 'comment' img_ifo.pk}" method="POST" role="form">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-row">
        <textarea class="input" ng-model="cmntCtrl.comment.text" placeholder="Add comment..." name="context" id="context" required></textarea>
      </div>
      
    <div class="form-row">
          <input type="submit" value="Add Comment">
    </div>
    </form>
  </div>



<div class="comments" id="refresh_this">  

    {% for contact in comment %}

    <!-- Comment - Dummy -->
    <div class="comment">
      <!-- Comment Avatar -->
      <div class="comment-avatar">
     
      </div>
    <!-- Comment Box -->
      <div class="comment-box">
        <div class="comment-text">{{ contact.comment }}</div>
        <div class="comment-footer">
          <div class="comment-info" id="no_refresh">
            <span class="comment-author">
              <a href="">{{ contact.name }}</a>
            </span>
            <span class="comment-date">{{ contact.time }}</span>
          </div>

        </div>
      </div>
    </div>
    {%  endfor %}
    
</div>

  
      

      
    

        

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/click.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrapclick.js' %}"></script>
<script type="text/javascript">

window.fbloaded = function() {
  FB.Event.subscribe('auth.statusChange', function(response) {
    if (response.status === 'connected'){
      FB.api("/me/picture?width=30", function(response) {
        $("#picture").attr("src", response.data.url);
      });
      FB.api("/me", function(response) {
        $("#fb-login").html(response.name);
      });
      
      document.getElementById('id01').style.display='none';
      
    }
  });
}
var loginCheck = function(){
  FB.getLoginStatus(function(response){
    if(response.status === 'connected'){
      FB.logout(function(response){
        $("#my-button").html("Facebook Login");
        $("#picture").attr("src", "");
        $("#user-name").html(null);
        $(".friend-block").empty();
      });
    }
    else{
      FB.login(function(response){
        $("#my-button").html("Facebook Logout");
      });
      // document.getElementById('id01').style.display='none';
    }
  });
}
$("#my-button").click(function(){
  loginCheck();
});

var sharing = function(){
  FB.ui({
    method: 'share',
    href: window.location.href,
  },function(response){});
}
$("#share-button2").click(function(){
    sharing();
});
</script>
<script src="{% static 'js/refresh.js' %}"></script>
</body>

</html>
