{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>iHouse</title>

  
  	<script src="{% static 'css/panelcss/console_runner-5710c30fb566082d9fcb6e7d97ee7e3f2a326128c9f334a4231b6fd752b29965.js.download' %}"></script>
		<script src="{% static 'css/panelcss/events_runner-d5e4bf42585b8da8c18f7d963dbfc17cd66a79aa586c9448c4de8d6952ee9d97.js.download' %}"></script>
		<script src="{% static 'css/panelcss/css_live_reload_init-25d1423d5d6fb975e7d61832d2c061422a94963ca446583b965dfc5569147311.js.download' %}"></script>
		<meta name="robots" content="noindex">
		
		<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
	  <link rel="stylesheet" type="text/css" href="{% static 'css/fb.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

		<link rel="canonical" href="http://codepen.io/SitePoint/pen/mywEMR">
		<script type ="text/javascript" src="{% static 'js/panel.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/panelcss/panel.css' %}" type="text/css">
		<link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
  <script>
  var FacebookAppId = '1794456094139329';
  window.fbAsyncInit = function() {
    FB.init({
      appId      : FacebookAppId,
      xfbml      : true,
      version    : 'v2.8'
    });
    window.fbloaded();
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="header">
		<div>
			<a href="{% url 'index'%}" id="logo"><img src="{% static 'images/homelogo1.png' %}" alt="logo"></a>
			<ul>
          <li>
				    <a href="{% url 'upload' %}">  <button type="button" class="btn btn-primary" style="width:90px; color:white; margin:-50px 20px;">發布貼文</button></a>
				    
				  </li>
				<li>
					<a href="about.html">居家空間</a>
										<ul>
						<li>
							<a href="{% url 'space' "liv" %}">客廳</a>
						</li>
						<li>
							<a href="{% url 'space' "bath" %}">浴室</a>
						</li>
						<li>
							<a href="{% url 'space' "kit" %}">廚房</a>
						</li>
						<li>
							<a href="{% url 'space' "book" %}">書房</a>
						</li>
						<li>
							<a href="{% url 'space' "bed" %}">臥室</a>
						</li>
						<li>
							<a href="{% url 'space' "dinner" %}">餐廳</a>
						</li>
						<li>
							<a href="{% url 'space' "bal" %}">陽台</a>
						</li>
						<li>
							<a href="{% url 'space' "store" %}">储藏室</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="collections.html">家具</a>
					<ul>
						<li>
							<a href="collections.html">椅子</a>
						</li>
						<li>
							<a href="collections.html">櫃子</a>
						</li>
						<li>
							<a href="collections.html">桌子</a>
						</li>
						<li>
							<a href="collections.html">沙發</a>
						</li>
						<li>
							<a href="collections.html">檯燈</a>
						</li>
						<li>
							<a href="collections.html">DIY 家具</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{% url 'profile'%}">個人空間</a>
				</li>

				<li>
				{% if user.is_authenticated %}
				<img id="picture" src="">
				   <button id="fb-login"onclick="document.getElementById('id01').style.display='block'" style="width:auto;">{{ user.username }}</button>
        {% else %}
        <img id="picture" src="">
				   <button id="fb-login"onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
				{%endif%} 
        <li><a href="javascript: return false;" onclick="window.location.href='/logout/' ">登出</a></li>

				</li>
			
			</ul>
			
		</div>
	</div>
	<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
			<img class="slide" src="{% static 'images/furniture1.jpg' %}" style="">
			<div class="carousel-caption">
                    <h2>Delightful modern furniture theme</h2>
                </div>
            </div>
            <div class="item">
			<img class="slide" src="{% static 'images/furniture2.jpg' %}" style="">
			<div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
			 <img class="slide" src="{% static 'images/furniture3.jpg' %}" style="">
			<div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
      <!-- create -->
	<div class=" black-background " id="create_page" style="display:none;">
		<div class="create-background col-md-offset-2 col-md-8 
			col-xs-offset-2 col-xs-6 mid">
			<div class="row">	
				<div class="col-md-12">	
       
				 {% csrf_token %}
                 {{ form.as_p }}
					<div class="col-md-offset-4 col-md-7 col-xs-10">
						<h1>建立你的故事</h1>
					</div>
					<div class="icon-top" >
					<button type="button" class="remove-image" id="close_create">X</button>
					</div>
				</div>
				<!-- 標題取值 -->
				<div>
					<input type="text"  id="new-title" class="ttop input-area col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8"
					placeholder="標題"  name="new-title" maxlength="10"/>
				</div>
				<!-- 第一句取值 -->
	            <div>
	            	<textarea class="ttop text-area col-md-offset-2 col-md-8 col-xs-12" id="first-sentence "  name="first-sentence" 
	            	rows="5" cols="50" placeholder="開頭" maxlength="20"></textarea>
	            </div>
	            <div class="">
					<button type="submit" class="btn-area ttop col-md-offset-8 col-md-2">send</button>
				</div>
	        </div>
		</div>					 				
	</div>
<div id="id01" class="modal">
  
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      
    </div>
          <h4 class="modal-title text-center">Login</h4>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-6 formbor">
                <div class="col-md-offset-1">
      
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <!--
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/home" />
    </form>
    <a href="/register">Register</a>
-->
    <form class="form" method="post" action="{% url 'django.contrib.auth.views.login' %}" >{% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit"  value="Login" id="login-button">Login</button>
        <button type="button" onclick="window.location.href='/register/' ">Register</button>
        
    </form>


                  </div>
              </div>
              <div class="col-md-6 text-center">
                <h3>Social network.</h3>
                <div class="row">
                <div class="btn btn-lg fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
              </div>

            </div>
        </div>
            
			  </div>
			  </div>
  </div>
</div>

  <div class="container main-container">
  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="http://s.codepen.io/boomerang/2d28caf3f81b650155d0abddd83b7fc81482049895343/index.html#panel-1" aria-controls="panel-1" role="tab" data-toggle="tab">當日主題</a></li>
      <li role="presentation"><a href="http://s.codepen.io/boomerang/2d28caf3f81b650155d0abddd83b7fc81482049895343/index.html#panel-2" aria-controls="panel-2" role="tab" data-toggle="tab">熱門主題</a></li>
      <a href="{% url 'upload' %}">  <button type="button" class="btn btn-primary" style="float:right; width:80px; ">發布貼文</button></a>
    </ul>
	
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="panel-1">
        <div class="row masonry-container" style="position: relative; height: 956px;">
         
         {% for img in imgs %}
          <div class="col-md-4 col-sm-6 item" >
            <div class="thumbnail">
             <img src='{{ img.img.url }}' alt="">
             {{ contact.name }}
              <div class="caption">
                <h3><a href="{% url 'comment' img.pk %}">{{img.tit}}</a></h>
                <h5>{{img.des}}</h5>
                <p><a href="{% url 'comment' img.pk %}" class="btn btn-default" role="button">閱讀更多<i class="fa fa-angle-right"></i></a></p>
              </div>
            </div>
          </div><!--/.item  -->
          {%endfor%}
          
          
          
        </div> <!--/.masonry-container  -->
      </div><!--/.tab-panel -->
  </div> <!--/.tab-panel  -->

</div>
	
	<div class="footer">
		<div>
			
			<div class="connect">
				<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">Twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">Facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">Google+</a>
			</div>
		</div>
	</div>

<script type="text/javascript">

window.fbloaded = function() {
  FB.Event.subscribe('auth.statusChange', function(response) {
    if (response.status === 'connected'){
      FB.api("/me/picture?width=30", function(response) {
        $("#picture").attr("src", response.data.url);
      });
      FB.api("/me", function(response) {
        $("#fb-login").html(response.name);
      });
      
      document.getElementById('id01').style.display='none';
      
    }
  });
}
var loginCheck = function(){
  FB.getLoginStatus(function(response){
    if(response.status === 'connected'){
      FB.logout(function(response){
        $("#my-button").html("Facebook Login");
        $("#picture").attr("src", "");
        $("#user-name").html(null);
        $(".friend-block").empty();
      });
    }
    else{
      FB.login(function(response){
        $("#my-button").html("Facebook Logout");
        $("#fb-login").html("Facebook Logout");
      });
      document.getElementById('id01').style.display='none';
    }
  });
}
$("#my-button").click(function(){
  loginCheck();
});
</script>
<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>	
	<script src="{% static 'css/panelcss/stopExecutionOnTimeout-58d22c749295bca52f487966e382a94a495ac103faca9206cbd160bdf8aedf2a.js.download' %}"></script>
<script src="{% static 'css/panelcss/jquery.min.js.download' %}"></script>
<script src="{% static 'css/panelcss/bootstrap.min.js.download' %}"></script>
<script src="{% static 'css/panelcss/imagesLoaded.js.download' %}"></script>
<script src="{% static 'css/panelcss/masonry.js.download' %}"></script>
<script type="text/javascript" src="{% static 'js/create.js' %}"></script>

</body>
</html>